.form {
   display: flex;
   flex-direction: column;
}

.message {
   width: 100%;
   height: 60px;
   color: #eee;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(255, 255, 255);
   border-radius: 15px;
}

.passwordWrapper {
   display: flex;
   align-items: center;
}