.input {
   width: 340px;
   height: 50px;
   border-radius: 12px;
   border: none;
   background-color: rgb(43, 43, 43);
   color: #fff;
   outline: none;
   padding: 0 20px;
   margin-bottom: 20px;

   &:hover {
      cursor: text;
   }

   &:focus {

      border: 3px solid rgb(40, 149, 199)
   }
}