.show {
   font-size: 24px;
   display: flex;
   align-items: center;
   margin-left: 15px;
   background-color: transparent;
   border: none;
   margin-bottom: 20px;
   outline: none;

   &:hover {
      cursor: pointer;
   }
}