.header {
   height: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: rgb(241, 241, 241);
}

.inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.left {
   display: flex;
}


.header_wrapper {
   display: flex;
   align-items: center;


   .cartCount {
      width: 20px;
      height: 20px;
      background-color: rgb(40, 149, 199);
      border-radius: 50%;
      display: flex;
      color: #fff;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: -5px;
      top: 0;
   }

   .cart {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 18px;
      margin-right: 15px;
      color: rgb(40, 149, 199);
   }

   .cartIcon {
      font-size: 32px;
   }
}

.profile {
   color: #000;

   &:hover {
      color: rgb(40, 149, 199);
      transition: all 0.3s ease;
   }
}

.item {
   margin-right: 20px;

   a {
      text-decoration: none;
      color: #000;
   }

   a:hover {
      color: rgb(40, 149, 199);
      transition: all 0.3s ease;
   }
}

.wrapper {

   .button_items {
      padding: 15px 30px;
      background-color: rgb(40, 149, 199);
      color: #fff;

      &:hover {
         background-color: rgb(34, 119, 158);
         transition: all 0.3s ease;
      }
   }

}