.wrapper{
   display: flex;
}

.contacts{
  margin-bottom: 50px;

   &_item{
      margin-right: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   &_info{
      margin-top: 20px;
      h4{
         color: rgb(167, 167, 167);
         font-size: 18px;
         text-transform: uppercase;
         margin-bottom: 10px;
      }
   }
}